*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

nav .navbar{
    background-color: #0f1111e1;
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.firstbox{
    width: 100px;
    height: 60px;
    padding: 4px 0px 0px;
    margin-right: 1rem;
}
.first-img{
    background-image: url("images/amazon_logo.png");
    background-size:cover;
    width: 100px;
    height: 50px;
    transition: all ease-in-out 0.1s;
    padding: 1px 8px 0 6px;
}

.border:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.877);
}
.first-img:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.877);
}
/* 
************* second  box ***************/

.secondbox{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 90.64px;
     height: 60px; 
    color: #fff;
    margin-right: 10px;
    transition: all ease-in-out 0.1s;
}




.secondbox p{
   font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.content h3{
   font-size: 1rem;
   color: #ffffff;
}
.icon{
    display: flex;
    align-items: center;
}
.icons{
    margin-right: 3px;
}


/* ======================= searchbox;;;;;;;;;;;;;; */

.inputbox{
    display: flex;
    justify-content: space-evenly;
  align-items: center;
  /* padding: 10px 4px 10px 3px; */
  width: 630px ;
  height: 40px;
  border: 2px solid transparent;
  transition: 0.2s ease-in all;
  
}


.inputbox:hover{
border: 4px solid orange;
border-radius: 5px;
}
.inputbox input{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
}
select{
    width: 45px;
    height: 42px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
}
.search-icon{
    width: 52px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color:#0f1111;
  
}
.search-icon{
    font-size: 1.4rem;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}



/* //// third box ,,,,,,,, */

#hello{
    background-image: url("images/flag.jpg");
    width: 21px;
    height: 14px;
    background-size: cover;
    font-size: 0.75rem;
}
.thirdbox{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: 10px;
}
.thirdbox select{
    background:none;
    color: #ffffff;
    font-weight: 800;
    font-size: 0.90rem;
}






/* 
///////////////////////fourthbox///// */


.fourthbox{
    display: flex;
    justify-content: center;
    align-items:center;
}


.fourth-content{
   display: flex; 
   flex-direction: column;
}

.fourth-content p{
 font-size: 0.85rem;
 color: #ffffff;
}


.fourth-content h2{
    font-size: 0.97rem;
    font-weight: 700;
    color: #ffffff;
}


.carts{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.carts i{
    font-size: 2rem;
    margin: 2px;
}

.carts h2{
    margin-top: 13px;
    font-size: 0.95rem;
    font-weight: 700;
    letter-spacing: 0.1px;
}



/* //////////////////nav2//////////////////// */
.nav2{
    background-color: #222f3d;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    
}
.menu i{
    font-size: 1.2rem;
    margin:0.5rem;
}
.menu span{
    font-size: 0.80 ;
}
.more-contents p{
    display: inline;
    margin-left: 1rem;
    text-align: center;
}

.more-contents{
    width: 78%;
    display: flex;
      align-items: center;
}

.menu{
  
    align-items: center;
}



.shop-details{
    display: flex;
    align-items: center;
     
}


.hero{
    background-image: url("images/hero_image.jpg");
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 550px;
    background-size: cover;
    position: relative;
}
.line{
    position: absolute;
    top: 80%;
    left: 15%;
    background-color: #ffffff;
    width: 80%;
    padding: 8px;
    text-align: center;
}

.line a{
    color: rgba(0, 4, 255, 0.918);
    text-decoration: none;
    transition: 0.2s ease-in all;
    cursor: pointer;
}
.line a:hover{
 border-bottom: 1px solid;
 color:#007185;
}


.components{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f11111e;
   
}

.component{
    width: 22%;
    height: 400px;
    margin-bottom: 25px;
  background-color: white;
    
}
.component h2{
text-align: center;
padding:2px;
}
.component a{
    display: block;
    text-align: center;
    color:#007185;
    transition: color 0.1s ease-in-out;
    cursor: pointer;
    
}
.component a:hover{
   color: rgba(255, 166, 0, 0.795);
}
.component .picture{
    background-image: url("images/box1_image.jpg");
    background-size: cover;
    width: 90%;
    height: 87%;
    margin-top: 5px;
    margin: 0 auto;

}





/* ///////////// footer ////////////////// */
footer{
    height: 10rem;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.back h2{
    color: #ffffff;
    background-color: #37475a;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 0.85rem;
}




/* 
///////// footer main thing //////////// */
.getto{
  padding:50px;
   width: 100% ;
   display: flex;
   justify-content: space-evenly;
   background-color: #222f3d;
   border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    
}


.change{
   font-size: 1.1rem;
   color: #ffffff;
  
}
.first p , .second p , .third p ,.fourth p{
    margin-top: 12px;
    font-size:0.85rem;
    color: white;
    text-decoration: none;
    transition: border-bottom 0.1s ease-in-out;
}

.first p:hover , .second p:hover , .third p:hover , .fourth p:hover{
    border-bottom: 1px solid white;
    display: inline-block;
}

.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:2rem;
    background-color: #222f3d; 
}



.logos .logos-img{
    background-image: url("images/amazon_logo.png");
    background-size:cover;
    width: 90px;
    height: 45px;
    transition: all ease-in-out 0.1s;
    padding: 1px 8px 0 6px;
}


.globe{
    display: flex;
    border:1px solid #cccccc;
    padding:10px;
    border-radius: 2px;
    justify-self: center;
    align-items: center;
}
.globe .languages{
color: #cccccc;
}
.eng{
    color:#cccccc;
    margin-left: 10px;
    font-size: 0.85rem;
}


.dollar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border:1px solid #cccccc;
    border-radius: 2px;
}

.dollar{
    color:#cccccc;
    margin-right: 10px;
    
}
.dollar-div h5{
    color:#cccccc;
    letter-spacing: 0.5px;
    margin-right: 3px;
    font-size: 0.87rem;

}


.united{
    display: flex;
    border:1px solid white;
    padding:10px;
    color: #cccccc;
    border-radius: 2px;
}
.united .un{
    background-image: url("images/flag.jpg");
    background-size: cover;
    font-size: 1rem;
    width: 20px;
    height: 13px;
    margin-right: 8px;
    margin-left: 5px;
}
.united p{
    font-size: 0.85rem;
}

/* =============== */

 #line{
    display: none;
 }


/* ===================== */
/* ================================================================================= */
@media (max-width:580px) and (min-width:480px){
    .navbar{
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .firstbox{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px solid green;
        margin-left: -20px;
    }
    .firstbox .first-img{
        width:55px;
        height:40px;
    }
    
    .secondbox {
        display:none;
    }
    .thirdbox{
        display: none;
    }
    .fourthbox{
        display: none;
    }
    .carts h2{
     display: none;
    }
    
    
    .inputbox{
         width: 68%;
    }
    .more-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    }
    .more-contents p{
        font-size: 0.85rem;
        margin-right: 7px;
    }
    .more-contents p:hover{
       border:none;
    }
    .menu:hover{
       border: none;
    }
    .more-contents .none{
        display: none;
    }
.shop-details{
    display: none
}
.nav2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    cursor: pointer;
}
.menu span{
    font-size: 0.95rem;
}
.menu i{
    font-size: 1rem;
}
.hero{
   max-width: 100%; 
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 
}
.none{
    display: none;
}



.line{
    font-size: 0.85rem;
    display: none;
}


.components{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f11111e;
    height: 70rem;
    padding: 8px;
}
.component{
    width: 44%;
    height: 250px;
  background-color: white;
}
.component .picture{
    height: 85%;
}
.component h2{
    font-size: 0.95rem;
}
.back{
    width: 100%;
}
 .getto{
   padding: 10px;
    display: flex;
    justify-content: space-evenly;
     align-items: center;
 }
  .first p{
    font-size: 0.80rem;
  }
 .second p{
    font-size: 0.80rem;
 }
 .change{
    font-size: 0.90rem;
 }
 .third{
    display: none;
 }
.fourth{
    display: none;
}
.logos{
    display: flex;
    flex-wrap: wrap;
   width: 100%;
   padding:1rem;
}
.logos-img{
    display: none;
}
.dollar-div{
    border: none;
    width: 50%;

}
.united{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
   
}
.globe{
    border: none;
   
}
.more-contents{
    cursor: pointer;
}

}
/* ===================================================================== */
